.sconsign.dblite
*.[ao]
*_unittest
*~
*.pb.cc
*.pb.h
*.proto
als_brightness_level
backlight-tool
backlight_dbus_tool
out/
plugged_brightness_offset
power[dm]
power_manager_bindings_server.h
power-supply-info
power_state_tool
suspend_delay_sample
unplugged_brightness_offset
xidle-example
