.sconsign.dblite
*.[ao]
*_unittest
als_brightness_level
backlight-tool
plugged_brightness_offset
power[dm]
power_manager_bindings_server.h
power-supply-info
suspend_delay_sample
unplugged_brightness_offset
xidle-example
