# Install tsl2563 when the i2c_i801 driver is installed.
ACTION=="add", SUBSYSTEM=="drivers", KERNEL=="i801_smbus", RUN+="light-sensor-install.sh"

# Calibrate the light sensor when the tsl2563 or tsl2583 driver is installed.
ACTION=="add", SUBSYSTEM=="drivers", KERNEL=="tsl2563", RUN+="light-sensor-set-multiplier.sh"
ACTION=="add", SUBSYSTEM=="drivers", KERNEL=="tsl2583", RUN+="light-sensor-set-multiplier.sh"
ACTION=="add", SUBSYSTEM=="drivers", KERNEL=="tsl258x", RUN+="light-sensor-set-multiplier.sh"
