type cros_metrics_daemon, chromeos_domain, domain, mlstrustedobject;

# TODO(crbug.com/954670, crbug.com/956270)
# /etc/lsb-release is unlabeled (suspect post build_image release process recreating it)
# /run files are not correctly handled in policy
permissive cros_metrics_daemon;

domain_auto_trans(cros_init_scripts, cros_metrics_daemon_exec, cros_metrics_daemon);
allow cros_metrics_daemon cros_init_scripts:fd use;

log_writer(cros_metrics_daemon);
uma_writer(cros_metrics_daemon);
cros_dbus_client(cros_metrics_daemon);

rw_dir_file(cros_metrics_daemon, cros_metrics_file);
allow cros_metrics_daemon cros_metrics_file:file create_file_perms;
allow cros_metrics_daemon { proc_meminfo proc_stat proc_vmstat }:file { open read getattr };
allow cros_metrics_daemon sysfs:file { open read getattr };
allow cros_metrics_daemon sysfs:dir { open read };
allow cros_metrics_daemon sysfs_zram:dir search;
allow cros_metrics_daemon sysfs_zram:file { open read getattr };
allow cros_metrics_daemon sysfs_devices_system_cpu:file { open read getattr };

filetrans_pattern(cros_metrics_daemon, cros_var_log, cros_var_log_vmlog, dir, "vmlog");
allow cros_metrics_daemon cros_var_log_vmlog:dir create_dir_perms;
allow cros_metrics_daemon cros_var_log_vmlog:{file lnk_file} create_file_perms;

allow cros_metrics_daemon device:blk_file getattr;

allow cros_metrics_daemon cros_crash_reporter_tmp_file:file { r_file_perms unlink };
allow cros_metrics_daemon cros_run:dir { rw_dir_perms remove_name };

has_arc(`
allow cros_metrics_daemon gpu_device:dir search;
');
