[Hook Scripts]
cros lint = ../../chromite/bin/cros lint ${PRESUBMIT_FILES}
gyplint = ./common-mk/gyplint.py ${PRESUBMIT_FILES}
gnlint = ./common-mk/gnlint.py ${PRESUBMIT_FILES}
check-readme.py = ./common-mk/check-readme.py

[Hook Overrides]
clang_format_check: true
project_prefix_check: true
filepath_chartype_check: true

[Hook Overrides Options]
# Enforce formatting of subprojects. If you consider adding a project, run
#   clang-format -i -style=file $(find <project>/ -name '*.h' -o -name '*.cc')
# first, check in the changes and then add it to this list.
clang_format_check:
  arc/
  authpolicy/
  biod/
  bluetooth/
  buffet/
  cfm-device-updater/
  crash-reporter/
  cros-disks/
  crosdns/
  diagnostics/
  dlcservice/
  goldfishd/
  imageloader/
  init/
  installer/
  libchromeos-ui/
  libcontainer/
  libpasswordprovider/
  login_manager/
  metrics/
  mist/
  modemfwd/
  oobe_config/
  policy_utils/
  portier/
  power_manager/
  run_oci/
  runtime_probe/
  smbprovider/
  vm_tools/
  vpn-manager/
  wimax_manager/
