[Hook Scripts]
cros lint = ../../chromite/bin/cros lint ${PRESUBMIT_FILES}
gyplint = ./common-mk/gyplint.py ${PRESUBMIT_FILES}
check-readme.py = ./common-mk/check-readme.py

# Enforce formatting of subprojects. If you consider adding a project, run
#   clang-format -i -style=file $(find <project>/ -name '*.h' -o -name '*.cc')
# first, check in the changes and then add it to this list.
[Hook Overrides]
clang_format_check: true
[Hook Overrides Options]
clang_format_check:
  arc/
  authpolicy/
  bluetooth/
  buffet/
  cros-disks/
  goldfishd/
  libcontainer/
  libpasswordprovider/
  login_manager/
  mist/
  modemfwd/
  power_manager/
  run_oci/
  smbprovider/
  vm_tools/
  vpn-manager/
  wimax_manager/
