include_dir=@INCLUDE_DIR@
lib_dir=@LIB_DIR@

Name: libcamera_v4l2_device
Description: V4L2 device util for ARC++ camera HAL
Version: 0
Requires.private: libchrome-@LIBCHROME_VERS@
Cflags: -I${include_dir}
Libs: -L${lib_dir} -lcamera_v4l2_device
