# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
socketcall: 1
time: 1
mmap2: 1
# open: return EPERM
open: return 1
mprotect: 1
close: 1
fstat64: 1
read: 1
stat64: 1
futex: 1
brk: 1
access: 1
rt_sigaction: 1
munmap: 1
# ioctl: arg1 == SIOCGIFNAME || arg1 == SIOCGIFNETMASK
ioctl: arg1 == 0x8910 || arg1 == 0x891b
restart_syscall: 1
exit: 1
exit_group: 1
rt_sigreturn: 1
uname: 1
rt_sigprocmask: 1
_llseek: 1
getrlimit: 1
set_tid_address: 1
set_robust_list: 1
set_thread_area: 1
fcntl64: 1
# execve: return EPERM
execve: return 1
