type cros_metrics_daemon, chromeos_domain, domain, mlstrustedobject;

domain_auto_trans(cros_init_scripts, cros_metrics_daemon_exec, cros_metrics_daemon);
allow cros_metrics_daemon cros_init_scripts:fd use;

log_writer(cros_metrics_daemon);
uma_writer(cros_metrics_daemon);
cros_dbus_client(cros_metrics_daemon);

rw_dir_file(cros_metrics_daemon, cros_metrics_file);
allow cros_metrics_daemon cros_metrics_file:file create_file_perms;
allow cros_metrics_daemon { proc_meminfo proc_stat proc_vmstat }:file { open read getattr };
allow cros_metrics_daemon sysfs:file { open read };
allow cros_metrics_daemon sysfs:dir { open read };
allow cros_metrics_daemon sysfs_zram:dir search;
allow cros_metrics_daemon sysfs_zram:file { open read getattr };

filetrans_pattern(cros_metrics_daemon, cros_var_log, cros_var_log_vmlog, dir, "vmlog");
allow cros_metrics_daemon cros_var_log_vmlog:dir create_dir_perms;
allow cros_metrics_daemon cros_var_log_vmlog:{file lnk_file} create_file_perms;

allow cros_metrics_daemon device:blk_file getattr;

has_arc(`
allow cros_metrics_daemon gpu_device:dir search;
');
