type cros_cras, chromeos_domain, domain, mlstrustedobject;

permissive cros_cras;

domain_auto_trans(minijail, cros_cras_exec, cros_cras);
log_writer(cros_cras);
uma_writer(cros_cras);
