aclocal.m4
autom4te.cache
configure
config.*
install-sh
libtool
m4
Makefile
Makefile.in

client/.deps
client/*.o
client/Makefile
client/Makefile.in
client/p2p-client
client/p2p-client-unittests

common/.deps
common/.libs
common/*.o
common/*.la
common/*.lo
common/*.gch
common/Makefile
common/Makefile.in
common/libp2p-unittests

data/Makefile
data/Makefile.in

http_server/.deps
http_server/*.o
http_server/Makefile
http_server/Makefile.in
http_server/p2p-http-server
http_server/p2p-http-server-unittests

server/.deps
server/*.o
server/Makefile
server/Makefile.in
server/p2p-server
server/p2p-server-unittests
