# Copyright 2018 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.
epoll_pwait: 1
gettid: 1
futex: 1
# Disallow mprotect with PROT_EXEC set.
mprotect: arg2 in 0xfffffffb
recvmsg: 1
epoll_wait: 1
sendmsg: 1
write: 1
read: 1
mmap: 1
sendto: 1
poll: 1
epoll_ctl: 1
fcntl: 1
setsockopt: 1
brk: 1
close: 1
getsockopt: 1
rt_sigprocmask: 1
socket: arg0 == AF_INET6 || arg0 == AF_UNIX || arg0 == AF_INET || arg0 == AF_NETLINK || arg0 == AF_VSOCK
eventfd2: 1
geteuid: 1
epoll_create1: 1
getgid: 1
mremap: 1
munmap: 1
clone: 1
set_robust_list: 1
getegid: 1
getuid: 1
rt_sigaction: 1
connect: 1
open: 1
openat: 1
fstat: 1
getsockname: 1
accept4: 1
bind: 1
pipe2: 1
restart_syscall: 1
exit_group: 1
rt_sigreturn: 1
lseek: 1
getresuid: 1
exit: 1
prctl: arg0 == PR_SET_NAME
clock_getres: 1
getresgid: 1
setpriority: 1
getrlimit: 1
signalfd4: 1
listen: 1
ioctl: arg1 == TCGETS || arg1 == TCSETSF
madvise: 1
shutdown: 1
tgkill: 1
kill: 1
creat: 1
execve: 1
access: 1
arch_prctl: 1
set_tid_address: 1
getdents: 1
setresuid: 1
setresgid: 1
uname: 1
stat: 1
umask: 1
recvfrom: 1
getpeername: 1
mkdir: 1
select: 1
clock_gettime: 1
wait4: 1
nanosleep: 1
chmod: 1
accept: 1
getpid: 1
prlimit64: arg2 == 0 && arg3 != 0
unlink: 1
