/*
 * Copyright 2016 The Chromium OS Authors. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;

/ {
	chromeos {
		family: family {
		};
		models: models {
		};
	};
};

&family {
	firmware {
		shared: caroline {
			firmware {
				bcs-overlay = "overlay-reef-private";
				ec-image = "bcs://Caroline_EC.2017.21.1.tbz2";
				pd-image = "bcs://Caroline_PD.2017.21.1.tbz2";
				main-image = "bcs://Caroline.2017.21.1.tbz2";
				main-rw-image = "bcs://Caroline.2017.41.0.tbz2";
			};
		};
	};
};

&models {
	pyro {
		wallpaper = "default";
		string-list = "default", "more";
		firmware {
			bcs-overlay = "overlay-reef-private";
			ec-image = "bcs://Reef_EC.9042.87.1.tbz2";
			pd-image = "bcs://Reef_PD.9042.87.1.tbz2";
			main-image = "bcs://Reef.9042.87.1.tbz2";
			main-rw-image = "bcs://Reef.9042.110.0.tbz2";
		};
	};
	caroline {
		firmware {
			shares = < &shared >;
		};
	};
	reef {
		wallpaper = "epic";
		firmware {
			bcs-overlay = "overlay-reef-private";
			ec-image = "bcs://Reef_EC.9042.87.1.tbz2";
			main-image = "bcs://Reef.9042.87.1.tbz2";
			main-rw-image = "bcs://Reef.9042.110.0.tbz2";
		};
	};
	broken {
		firmware {
			bcs-overlay = "-reef-private";
			main-image = "bcs://Reef.9042.87.1.tbz2";
		};
	};
};
