/*
 * Copyright 2018 The Chromium OS Authors. All rights reserved.
 *
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/dts-v1/;

/* This file has a missing audio property */
/ {
	chromeos {
		family {
		};

		models: models {
		};
	};
};

&models {
	pyro {
		audio {
			main {
			};
		};
	};
};
