# Copyright 2016 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=Mosys info dump script to populate chrome://system
After=system-services.target

[Service]
Type=oneshot
ExecStart=/usr/share/userfeedback/scripts/mosys_info
