type cros_arc_setup, cros_miscdomain, domain;

permissive cros_arc_setup;

domain_auto_trans({cros_init cros_init_scripts minijail cros_session_manager chromeos}, cros_arc_setup_exec, cros_arc_setup);
dev_only(
auditallow {chromeos cros_session_manager} cros_arc_setup_exec:file execute;
)
filetrans_pattern(cros_arc_setup, cros_run, cras_socket, dir, "cras");
filetrans_pattern(cros_arc_setup, cros_home_shadow_uid_root, cros_home_shadow_uid_root_android, dir, "android-data");
filetrans_pattern_no_target_perm(cros_arc_setup, cros_home_shadow_uid_root_android, cache_file, dir, "cache");
filetrans_pattern_no_target_perm(cros_arc_setup, cros_home_shadow_uid_root_android, system_data_file, dir, "data");

auditallow { domain -chromeos -kernel } cros_arc_setup:fd use;
