type cros_crash_sender, chromeos_domain, domain, mlstrustedobject;

permissive cros_crash_sender;

domain_auto_trans(cros_periodic_scheduler, cros_crash_sender_exec, cros_crash_sender);

log_writer(cros_crash_sender);
