type cros_periodic_scheduler, chromeos_domain, domain;

exec_coreutils(cros_periodic_scheduler);
use_init_fd(cros_periodic_scheduler);
log_writer(cros_periodic_scheduler);

domain_auto_trans(cros_init, cros_periodic_scheduler_exec, cros_periodic_scheduler);

# rm /var /var/spool (clean up in the script)
allow cros_periodic_scheduler cros_var_spool:dir getattr;
allow cros_periodic_scheduler cros_var_spool:file { r_file_perms setattr unlink };

# initial directory creation
filetrans_pattern(cros_periodic_scheduler, cros_var_spool, cros_periodic_scheduler_cache_t, dir);

# stamp file
allow cros_periodic_scheduler cros_periodic_scheduler_cache_t:file create_file_perms;
allow cros_periodic_scheduler cros_periodic_scheduler_cache_t:dir create_dir_perms;

# TODO(fqj): use audit log to find out non-init executing periodic_scheduler
domain_auto_trans(chromeos_domain, cros_periodic_scheduler_exec, cros_periodic_scheduler);
auditallow { chromeos_domain -cros_init } cros_periodic_scheduler_exec:file execute;
