type cros_jetstream_update_stats, chromeos_domain, domain;

permissive cros_jetstream_update_stats;

domain_auto_trans(cros_periodic_scheduler, cros_jetstream_update_stats_exec, cros_jetstream_update_stats);
