# Identify internal input devices.
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1",    DRIVERS=="atkbd",        ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1",    DRIVERS=="cros-ec-keyb", ENV{POWERD_ROLE}="internal_keyboard"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1",    SUBSYSTEMS=="i2c",       ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHPAD}=="1",    SUBSYSTEMS=="serio",     ENV{POWERD_ROLE}="internal_touchpad"
SUBSYSTEM=="input", ENV{ID_INPUT_TOUCHSCREEN}=="1", SUBSYSTEMS=="i2c",       ENV{POWERD_ROLE}="internal_touchscreen"

SUBSYSTEM=="input", SUBSYSTEMS=="usb", DRIVERS=="usbhid", ENV{POWERD_ROLE}="external_input"
SUBSYSTEM=="input", SUBSYSTEMS=="usb", DRIVERS=="btusb",  ENV{POWERD_ROLE}="external_input"

# Apply powerd tags to input devices.
ENV{POWERD_ROLE}=="internal_keyboard",    ENV{POWERD_TAGS}+=" usable_when_laptop"
ENV{POWERD_ROLE}=="internal_touchpad",    ENV{POWERD_TAGS}+=" usable_when_laptop"
ENV{POWERD_ROLE}=="internal_touchscreen", ENV{POWERD_TAGS}+=" usable_when_laptop usable_when_tablet"
ENV{POWERD_ROLE}=="external_input",       ENV{POWERD_TAGS}+=" usable_when_docked usable_when_laptop usable_when_tablet"

ENV{POWERD_ROLE}=="internal_keyboard", KERNEL=="input*", ENV{POWERD_TAGS}+=" wakeup wakeup_only_when_usable"
ENV{POWERD_ROLE}=="internal_touchpad", KERNEL=="input*", ENV{POWERD_TAGS}+=" wakeup wakeup_only_when_usable"
ENV{POWERD_ROLE}=="external_input",    KERNEL=="input*", ENV{POWERD_TAGS}+=" wakeup wakeup_only_when_usable"

ENV{POWERD_ROLE}!="", KERNEL=="input*", ATTR{inhibited}!="", ENV{POWERD_TAGS}+=" inhibit"

# Apply the "powerd" udev tag to all events that powerd is interested in. powerd
# then filters by this tag.
ENV{POWERD_TAGS}!="",      TAG+="powerd"

SUBSYSTEM=="drm",          TAG+="powerd"
SUBSYSTEM=="i2c-dev",      TAG+="powerd"
SUBSYSTEM=="input",        TAG+="powerd"
SUBSYSTEM=="power_supply", TAG+="powerd"
