# Copyright (c) 2013 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# udev rules to enable USB persistence during system suspend for whitelisted
# devices.

ACTION!="add|change", GOTO="usb_persistence_enable_end"
SUBSYSTEM!="usb", GOTO="usb_persistence_enable_end"
ENV{DEVTYPE}!="usb_device", GOTO="usb_persistence_enable_end"

# Altair ALT3100 LTE modem.
ATTRS{idVendor}=="216f", ATTRS{idProduct}=="0047", GOTO="enable_usb_persistence"

GOTO="usb_persistence_enable_end"

LABEL="enable_usb_persistence"
RUN+="/lib/udev/usb-persistence-enable.sh %S%p"

LABEL="usb_persistence_enable_end"
