# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# TODO(akahuang): Detect event on a specific USB port instead of VID/PID.
# TODO(akahuang): Pass the USB device node into hammerd.
ACTION=="add", ENV{ID_MODEL}=="Hammer", SUBSYSTEM=="usb", \
  ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="5022", \
  RUN+="/sbin/initctl emit --no-wait hammer-device-added"
