type cros_anomaly_collector, chromeos_domain, domain, mlstrustedobject;

from_minijail_static(cros_anomaly_collector, cros_anomaly_collector_exec);
cros_dbus_client(cros_anomaly_collector)
uma_writer(cros_anomaly_collector)

allow cros_anomaly_collector cros_syslog:file r_file_perms;

type cros_anomaly_collector_tmp_file, file_type, cros_tmpfile_type;
filetrans_pattern(cros_anomaly_collector, {tmpfs cros_minijail_minijail_tmp_file}, cros_anomaly_collector_tmp_file, file);

# minijail mounts it.
minijail_mounts(
  minijail,
  , # extra mount
  {cros_minijail_minijail_tmp_file cros_run}, # mounton
  {cros_run_dbus cros_var cros_var_spool cros_var_log} # getattr
);
log_writer(cros_anomaly_collector);
