type cros_rsyslogd, chromeos_domain, domain, mlstrustedobject;

from_minijail_static(cros_rsyslogd, cros_rsyslogd_exec);
log_writer(cros_rsyslogd);
cros_net(cros_rsyslogd);

type cros_rsyslogd_pid_file, file_type, cros_tmpfile_type;
filetrans_pattern(cros_rsyslogd, {tmpfs cros_minijail_minijail_tmp_file}, cros_rsyslogd_pid_file, file, "rsyslogd.pid.tmp");

filetrans_pattern(cros_rsyslogd, device, logger_device, sock_file, "log");

r_dir_file(cros_rsyslogd, cros_rsyslog_conf_file);
allow cros_rsyslogd cros_log_type:file rw_file_perms;

allow cros_rsyslogd cros_passwd_file:file r_file_perms;
allow cros_rsyslogd cros_run:dir search;

allow cros_rsyslogd proc_kmsg:file r_file_perms;

allow cros_rsyslogd kernel:system syslog_mod;
allow cros_rsyslogd self:capability2 syslog;

allow cros_rsyslogd self:capability { setuid setgid };
