type cros_anomaly_collector, chromeos_domain, domain, mlstrustedobject;

permissive cros_anomaly_collector;

domain_auto_trans(minijail, cros_anomaly_collector_exec, cros_anomaly_collector);

allow cros_anomaly_collector cros_syslog:file r_file_perms;
allow cros_anomaly_collector cros_metrics_file:dir { search getattr };
allow cros_anomaly_collector cros_metrics_uma_events_file:file rw_file_perms;

type cros_anomaly_collector_tmp_file, file_type, cros_tmpfile_type;
filetrans_pattern(cros_anomaly_collector, tmpfs, cros_anomaly_collector_tmp_file, file);

