# SELinux policy for crash reporting.

type cros_crash, cros_miscdomain, chromeos_domain, domain, mlstrustedobject;

permissive cros_crash;

allow cros_crash chromeos:fd use;

allow cros_crash devpts:chr_file rw_file_perms;
allow cros_crash cros_labeled_dev_type:chr_file rw_file_perms;

allow cros_crash cros_syslog:file r_file_perms;

allow cros_crash unlabeled:dir search;

domain_auto_trans({chromeos_domain -cros_crash}, cros_crash_reporter_exec, cros_crash);
# Kernel and cros_anomaly_collector are expected to run crash_reporter.
# This audit allow is used to catch more unexpected usage.
# -chromeos since we're pulling more processes out of chromeos, also it creates noises that crash_test.py
# tries to run crash_reporter during the test.
auditallow {
chromeos_domain
-kernel
-cros_init
-chromeos
-cros_anomaly_collector
-cros_crash
-cros_udevd # Udevd is also expected to execute crash reporter.
-cros_ssh_session
} cros_crash_reporter_exec:file execute;

minijail_netns_new(cros_crash)
log_writer(cros_crash);
