type cros_chapsd, domain, chromeos_domain, mlstrustedobject;

permissive cros_chapsd;

domain_auto_trans(cros_init_scripts, cros_chapsd_exec, cros_chapsd);
