typeattribute console_device cros_dev_type, cros_labeled_dev_type;
typeattribute null_device cros_dev_type, cros_labeled_dev_type;
typeattribute device cros_dev_type;

# TODO(fqj): add exec_type attribute and neverallow non-exec to be entrypoint.
# TODO(fqj): go over files of cros_system_file, and to label exec only and rename with _exec suffix.
type cros_system_file, exec_type, file_type;
type cros_crash_reporter_exec, exec_type, file_type;
type cros_shill_exec, exec_type, file_type;
type cros_modprobe_exec, exec_type, file_type;
type cros_wpa_supplicant_exec, exec_type, file_type;

type cros_syslog, file_type;

type chrome_browser_exec, exec_type, file_type;

type cros_init_conf_file, file_type;

type cros_selinux_config_file, file_type;

allow fs_type self:filesystem associate;
allow file_type labeledfs:filesystem associate;
allow tmpfs labeledfs:filesystem associate;
allow chromeos_domain tmpfs:dir { getattr read setattr };
allow chromeos_domain tmpfs:dir create_dir_perms;

allow chromeos_domain null_device:chr_file rw_file_perms;
allow chromeos_domain console_device:chr_file rw_file_perms;

allow console_device device:filesystem associate;
allow null_device device:filesystem associate;
