type minijail, chromeos_domain, domain, mlstrustedobject;

permissive minijail;

#TODO(fqj): init boot-update-firmware.conf didn't enter minijail.
domain_auto_trans(cros_init, cros_minijail_exec, minijail);
domain_auto_trans(cros_init_scripts, cros_minijail_exec, minijail);

# For monitoring purpose.
domain_auto_trans({ chromeos_domain -cros_debugd }, cros_minijail_exec, minijail);
auditallow { chromeos_domain -cros_init -cros_init_scripts -cros_debugd } cros_minijail_exec:file execute;
