# Enable WiFi Power Save Mode
ACTION=="add|change", SUBSYSTEM=="net", TEST=="phy80211", RUN+="/usr/sbin/iw dev %k set power_save on"

# Minimize link power for SATA drives
ACTION=="add|change", SUBSYSTEM=="scsi_host", \
  TEST=="link_power_management_policy", \
  ATTR{link_power_management_policy}="min_power"
