# Copyright 2017 The Chromium OS Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

close: 1
exit: 1
exit_group: 1
fcntl: 1
fstat: 1
futex: 1
getrandom: 1
getuid: 1
lseek: 1
open: 1
read: 1
restart_syscall: 1
rt_sigreturn: 1
stat: 1
write: 1
